<p>
  <b>Title:</b>
  <%=h @separator.title %>
</p>

<p>
  <b>Belonging:</b>
  <%=h @separator.belonging_id %>
</p>


<%= link_to 'Edit', edit_separator_path(@separator) %> |
<%= link_to 'Back', separators_path %>
